* {
    margin: 0;
    padding: 0;
}
.container {
    
    header {
        display: grid;
        grid-template-columns: 300px 1fr auto;
        grid-template-rows: repeat(1, 1fr);
        grid-column: 1/4;
        border-bottom: 4px solid red;
        box-shadow: 1px 1px 3px black;
        .logo {
            img {
                width: 15vw;
                animation: 5s infinite;
                animation-name: logo-move;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            grid-column: 3/4;
            grid-row: 1/2;
            font-family: "Timmana", sans-serif;
            nav {
                ul {
                    display: flex;
                    position: relative;
                    li {
                        margin: 20px;
                        margin-left: 20px;
                        list-style: none;
                        &:hover .submenu {
                            position: absolute;
                            left: 70px;
                            display: block;
                        }
                        .submenu {
                            display: none;
                            background: #f2f2f2;
                            box-shadow: 1px 2px 3px black;
                            border-radius: 4px;
                            margin: 0;
                            li {
                                margin-left: 20px;
                            }
                            strong {
                                color: red;
                            }
                            .videojuegos {
                                position: relative;
                                ul {
                                    display: none;
                                }
                                &:hover ul {
                                    background: #f2f2f2;
                                    box-shadow: 1px 2px 3px black;
                                    border-radius: 4px;
                                    position: absolute;
                                    top: -20px;
                                    left: 88px;
                                    margin: 0;
                                    display: inline-block;
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: #ff2244;
                            }
                            transition: ease-in-out 0.3s;
                            color: #000000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .buscador {
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0 auto;
            margin-top: 15%;
            text-align: center;
            label {
                display: flex;
                #enviar {
                    font-family: "Timmana", sans-serif;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border: 2px solid red;
                    padding: 10px;
                    margin: 0;
                    cursor: pointer;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        background: black;
                        color: white;
                        text-decoration: underline;
                    }
                }
                #buscador {
                    font-family: "Timmana", sans-serif;
                    width: 30vw;
                    max-width: 100%;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
}

h1 {
    padding: 0px 0px 100px 60px;

}

h2 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #fff;
    text-shadow: 1px 2px 1px black;
}

.box {
    width: 500px;
    margin: 0 auto;
    background: #848383;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button {
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;

}

.login-button {
    display: inherit;
    width: 200px;
    margin: auto;
    padding: 0.75rem;
    background: #ff5733;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

footer {
        font-family: "Timmana", sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1/5;
        grid-row: 4/5;
        background: red;
        .pestanias {
            margin-top: 10%;
            margin: 25px;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }

        .contacto {
            margin-top: 10%;
            margin: 25px;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    #facebook {
                        width: 200px;
                    }
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .redes {
            margin: 25px;
            display: flex;
            justify-content: space-between;
            grid-column: 4/5;
            align-items: center;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

    @media (max-width: 950px) {
        .container{
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            .menu {
                grid-row: 2/3;
                grid-column: 1/4;
                margin: 0 auto;
            }
            .buscador {
                position: relative;
                top: -20px;
            }
        }
    }
}
    
    @media (max-width: 768px) {
        .container{
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            .menu {
                grid-row: 2/3;
                grid-column: 1/4;
                margin: 0 auto;
            }
            .buscador {
                position: relative;
                top: -20px;
            }
        }
    }
}
    
    
    @media (max-width: 576px) {
        .container{
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            .menu {
                grid-row: 2/3;
                grid-column: 1/4;
                margin: 0 auto;
            }
            .buscador {
                position: relative;
                top: -20px;
            }
    }
  }
}
    
    @media (max-width: 375px) {
        .container{
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            .menu {
                grid-row: 2/3;
                grid-column: 1/4;
                margin: 0 auto;
                font-size: 12px;
            }
            .buscador {
                position: relative;
                top: -20px;
            }
        }
        
    }
}