/* Coolors Exported Palette - coolors.co/ef233c-d90429-cacaca-ffffff-000000 */

/* HSL */
$color1: hsla(353%, 86%, 54%, 1);
$color2: hsla(350%, 96%, 43%, 1);
$color3: hsla(0%, 0%, 79%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(239, 35, 60, 1);
$color2: rgba(217, 4, 41, 1);
$color3: rgba(202, 202, 202, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(0, 0, 0, 1);