* {
    margin: 0;
    padding: 0;
}
.container {
    
    header {
        display: grid;
        grid-template-columns: 300px 1fr auto;
        grid-template-rows: repeat(1, 1fr);
        grid-column: 1/4;
        border-bottom: 4px solid red;
        box-shadow: 1px 1px 3px black;
        .logo {
            img {
                width: 15vw;
                animation: 5s infinite;
                animation-name: logo-move;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            grid-column: 3/4;
            grid-row: 1/2;
            font-family: "Timmana", sans-serif;
            nav {
                ul {
                    display: flex;
                    position: relative;
                    li {
                        margin: 20px;
                        margin-left: 20px;
                        list-style: none;
                        &:hover .submenu {
                            position: absolute;
                            left: 70px;
                            display: block;
                        }
                        .submenu {
                            display: none;
                            background: #f2f2f2;
                            box-shadow: 1px 2px 3px black;
                            border-radius: 4px;
                            margin: 0;
                            li {
                                margin-left: 20px;
                            }
                            strong {
                                color: red;
                            }
                            .videojuegos {
                                position: relative;
                                ul {
                                    display: none;
                                }
                                &:hover ul {
                                    background: #f2f2f2;
                                    box-shadow: 1px 2px 3px black;
                                    border-radius: 4px;
                                    position: absolute;
                                    top: -20px;
                                    left: 88px;
                                    margin: 0;
                                    display: inline-block;
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: #ff2244;
                            }
                            transition: ease-in-out 0.3s;
                            color: #000000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .buscador {
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0 auto;
            margin-top: 15%;
            text-align: center;
            label {
                display: flex;
                #enviar {
                    font-family: "Timmana", sans-serif;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border: 2px solid red;
                    padding: 10px;
                    margin: 0;
                    cursor: pointer;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        background: black;
                        color: white;
                        text-decoration: underline;
                    }
                }
                #buscador {
                    font-family: "Timmana", sans-serif;
                    width: 30vw;
                    max-width: 100%;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto auto 1fr;
        grid-column: 1/5;
        grid-row: 2/3;
        font-family: "Baloo Paaji 2", cursive;
        .box {
            grid-column: 1/4;
            margin: 20px;
            display: flex;
            flex-direction: column;
            background: #686666;
            border-radius: 5px;
            .detalle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: "Baloo Paaji 2", cursive;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(auto);
                margin-bottom: 20px;
                .precio{
                    margin: 0 auto;
                    grid-column: 1/2;
                }
                .cantidad{
                    display: flex;
                    align-items: center;
                    grid-column: 3/4;
                    grid-row: 1/2;
                    .unidad{
                        font-size: 27px;
                        background: #f2f2f2;
                        width: 40px;
                        height: 40px;
                        border-radius: 80px;
                        text-align: center;
                        color: #000000;
                    }
                    .agregar{
                        width: 40%;
                        height: 10vh;
                        margin: 20px auto;
                        background: #44aa09;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        box-shadow: 1px 1px 3px #000000;
                        font-size: 25px;
                    }
                    .quitar{
                        width: 40%;
                        height: 10vh;
                        margin: 20px auto;
                        background: #FF2000;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        box-shadow: 1px 1px 3px #000000;
                        grid-column: 3/4;
                        font-size: 25px;
                    }
                }
                .informacion-juego{
                    grid-column: 2/3;
                }
            }
            .titulo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: #ff2000;
                font-family: "Baloo Paaji 2", cursive;
                color: #fff;
            }            
        }
        .img-producto-borrar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Baloo Paaji 2", cursive;

            img{
                width: 40%;
                margin: 26px auto;
                border-radius: 5px;
            }
            .delete{
                width: 40%;
                height: 3vh;
                margin: 20px auto;
                background: #FF2000;
                border: none;
                border-radius: 5px;
                color: #fff;
                box-shadow: 1px 1px 3px #000000;
            }
        }
        .descuento{
            grid-column: 1/3;
            grid-row: 4/5;
            width: 60%;
            margin: 0 auto;
            fieldset{
                padding: 10%;
                label{
                    #cupon{
                        background: #fff;
                        border:none;
                        border-bottom: 1px solid #ff2244;
                        &:focus{
                            border-bottom: 1px solid #44aa09;
                        }
                    }
                    #aplicar-descuento{
                        background: #ff0000;
                        color: #fff;
                        border:none;
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .calculo{
            grid-column: 3/5;
            grid-row: 4/6;
            background: #686666;
            border-radius: 10px;
            font-family: "Baloo Paaji 2", cursive;
            margin: 20px;
            text-align: center;
            color: #fff;
            h3{
                color: #ff9216;
                text-shadow: 1px 1px 1px #000000;
            }
        }
        .continuar-comprando{
            grid-column: 1/2;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #continuar-compra{
                background: #44aa09;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
                margin-top:20px;
            }
        }
        .comprar{
            grid-column: 2/3;
            grid-row: 5/6;
            display: flex;
            justify-content: center;
            align-items: center;
            #terminar-compra{
                background: #ff0000;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
                margin-top:20px;
            }
        }
        section{
            grid-column: 1/5;
            display: flex;
            justify-content: center;
            article{
                display: flex;
                margin: 20px;
                .box{
                    margin: 30px;
                    width: 20vw;
                }
            }
        }
    }
    footer {
        font-family: "Timmana", sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1/5;
        grid-row: 4/5;
        background: red;
        .pestanias {
            margin-top: 10%;
            margin: 25px;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }

        .contacto {
            margin-top: 10%;
            margin: 25px;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    #facebook {
                        width: 200px;
                    }
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .redes {
            margin: 25px;
            display: flex;
            justify-content: space-between;
            grid-column: 4/5;
            align-items: center;
            li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .container{
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        .menu {
            grid-row: 2/3;
            grid-column: 1/4;
            margin: 0 auto;
        }
        .buscador {
            position: relative;
            top: -20px;
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto auto 1fr;
        grid-column: 1/5;
        grid-row: 2/3;
        .box {
            grid-column: 1/4;
            display: flex;
            flex-direction: column;
            background: #686666;
            color: #fff;
            height: 93%;
            width: 100%;
            border-radius: 5px;
            font-family: "Baloo Paaji 2", cursive;
            .titulo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                grid-column: 1/4;
                grid-row: 1/2;
                background:#ff0000;
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                box-shadow: 0px 0px 3px #000000;
            }
        .detalle{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 30px auto;
            .precio{
                grid-column: 1/2;
                grid-row: 2/3;
                h3{
                    font-size: 50px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000000;
                }
            }
            .cantidad{
                grid-column: 4/5;
                grid-row: 2/3;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .agregar{
                    font-size: 30px;
                    background: #44aa09;
                    color: #000000;
                    border: none;
                    width: 5vw;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
                .quitar{
                    font-size: 30px;
                    background: #ff0000;
                    color: #fff;
                    border: none;
                    width: 5vw;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
                .unidad{
                    width: 100px;
                    height: 40px;
                }
            }
            .informacion-juego{
                grid-column: 2/4;
                grid-row: 2/3;
                display: flex;
                justify-content: space-around;
                strong{
                    color: #ff8800e5;
                    text-shadow: 1px 1px 1px #000000;
                }
            }
        }
        }
        .img-producto-borrar{
            grid-column: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 80%;
                border-radius: 50px;
                margin:30px 0 20px;
                box-shadow: -1px 1px 3px #000000;
            }
            button{
                font-family: "Baloo Paaji 2", cursive;
                width: 80%;
                height: 5vh;
                border-radius: 150px;
                border: none;
                background: #ff0000;
                color:#fff;
                box-shadow: -1px 1px 3px #000000;
                transition: ease-in-out 0.6s;
                &:hover{
                    background: #fff;
                    color: #ff0000;
                    cursor: pointer;
                }
                
            }
        }
        .descuento{
            grid-column: 1/3;
            grid-row: 4/5;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
                fieldset{
                    padding: 10%;
                    label{
                        #cupon{
                            background: #fff;
                            border:none;
                            border-bottom: 1px solid #ff2244;
                            &:focus{
                                border-bottom: 1px solid #44aa09;
                            }
                        }
                        #aplicar-descuento{
                            background: #ff0000;
                            color: #fff;
                            border:none;
                            padding: 10px;
                            border-radius: 5px;
                        }
                    }
                }
        }
        .calculo{
            grid-column: 3/5;
            grid-row: 4/6;
            background: #686666;
            border-radius: 10px;
            font-family: "Baloo Paaji 2", cursive;
            margin: 20px;
            text-align: center;
            color: #fff;
            h3{
                color: #ff9216;
                text-shadow: 1px 1px 1px #000000;
            }
        }
        .continuar-comprando{
            grid-column: 1/2;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #continuar-compra{
                background: #44aa09;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        .comprar{
            grid-column: 2/3;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #terminar-compra{
                background: #ff0000;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        section{
            grid-column: 1/5;
            grid-row: 6/7;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr 1fr;
            article{
                grid-column: 1/6;
                grid-row: 1/2;
                display: flex;
                justify-content: space-between;
                .box{
                    margin: 20px;
                }
                
            }
        }
    }
}
}

@media (max-width: 768px) {
    .container{
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        .menu {
            grid-row: 2/3;
            grid-column: 1/4;
            margin: 0 auto;
        }
        .buscador {
            position: relative;
            top: -20px;
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto auto 30px;
        grid-column: 1/5;
        grid-row: 2/3;
        .box {
            grid-column: 1/4;
            display: flex;
            flex-direction: column;
            background: #686666;
            color: #fff;
            height: 93%;
            width: 100%;
            border-radius: 5px;
            font-family: "Baloo Paaji 2", cursive;
            .titulo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                grid-column: 1/4;
                grid-row: 1/2;
                background:#ff0000;
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                box-shadow: 0px 0px 3px #000000;
            }
        .detalle{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:  30px 1fr auto;
            margin: 20px;
            .precio{
                grid-column: 2/4;
                grid-row: 4/5;
                h3{
                    font-size: 51px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000000;
                }
            }
            .cantidad{
                grid-column: 2/4;
                grid-row: 3/4;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 33px;
                margin: 20px;
                .agregar{
                    font-size: 30px;
                    background: #44aa09;
                    color: #000000;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
                .quitar{
                    font-size: 30px;
                    background: #ff0000;
                    color: #fff;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
            }
            .informacion-juego{
                grid-column: 2/4;
                grid-row: 2/3;
                display: flex;
                justify-content: space-around;
                font-size: 23px;
                strong{
                    color: #ff8800e5;
                    text-shadow: 1px 1px 1px #000000;
                }
                .dato1{
                    margin-right: 20px;
                }
            }
        }
        }
        .img-producto-borrar{
            grid-column: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 80%;
                border-radius: 50px;
                margin:30px 0 20px;
                box-shadow: -1px 1px 3px #000000;
            }
            button{
                font-family: "Baloo Paaji 2", cursive;
                width: 80%;
                height: 5vh;
                border-radius: 150px;
                border: none;
                background: #ff0000;
                color:#fff;
                box-shadow: -1px 1px 3px #000000;
                transition: ease-in-out 0.6s;
                &:hover{
                    background: #fff;
                    color: #ff0000;
                    cursor: pointer;
                }
            }
            .delete{
                width: 35%;
                height: 50px;
            }
        }
        .descuento{
            grid-column: 1/3;
            grid-row: 4/5;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
                fieldset{
                    padding: 10%;
                    label{
                        #cupon{
                            background: #fff;
                            border:none;
                            border-bottom: 1px solid #ff2244;
                            &:focus{
                                border-bottom: 1px solid #44aa09;
                            }
                        }
                        #aplicar-descuento{
                            background: #ff0000;
                            color: #fff;
                            border:none;
                            padding: 10px;
                            border-radius: 5px;
                        }
                    }
                }
        }
        .calculo{
            grid-column: 3/5;
            grid-row: 4/6;
            background: #686666;
            border-radius: 10px;
            font-family: "Baloo Paaji 2", cursive;
            margin: 20px;
            text-align: center;
            color: #fff;
            h3{
                color: #ff9216;
                text-shadow: 1px 1px 1px #000000;
            }
        }
        .continuar-comprando{
            grid-column: 1/2;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #continuar-compra{
                background: #44aa09;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        .comprar{
            grid-column: 2/3;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #terminar-compra{
                background: #ff0000;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        section{
            grid-column: 1/5;
            grid-row: 6/7;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr 1fr;
            article{
                grid-column: 1/6;
                grid-row: 1/2;
                display: flex;
                justify-content: space-between;
                .box{
                    margin: 20px;
                }
            }
        }
    }
    }
    section{
        article{
            .box{
                display: none;
            }
        }
    }
}


@media (max-width: 576px) {
    .container{
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        .menu {
            grid-row: 2/3;
            grid-column: 1/4;
            margin: 0 auto;
        }
        .buscador {
            position: relative;
            top: -20px;
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto auto 30px;
        grid-column: 1/5;
        grid-row: 2/3;
        .box {
            grid-column: 1/4;
            display: flex;
            flex-direction: column;
            background: #686666;
            color: #fff;
            height: 93%;
            width: 100%;
            border-radius: 5px;
            font-family: "Baloo Paaji 2", cursive;
            .titulo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                grid-column: 1/4;
                grid-row: 1/2;
                background:#ff0000;
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                box-shadow: 0px 0px 3px #000000;
            }
        .detalle{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:  30px 1fr auto;
            margin: 20px;
            .precio{
                grid-column: 2/4;
                grid-row: 4/5;
                h3{
                    font-size: 51px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000000;
                }
            }
            .cantidad{
                grid-column: 2/3;
                grid-row: 3/4;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 33px;
                margin: 20px;
                .agregar{
                    font-size: 30px;
                    background: #44aa09;
                    color: #000000;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
                .quitar{
                    font-size: 30px;
                    background: #ff0000;
                    color: #fff;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
            }
            .informacion-juego{
                grid-column: 1/4;
                grid-row: 2/3;
                display: flex;
                justify-content: space-around;
                font-size: 16px;
                strong{
                    color: #ff8800e5;
                    text-shadow: 1px 1px 1px #000000;
                }
                .dato1{
                    margin-right: 20px;
                }
            }
        }
        }
        .img-producto-borrar{
            grid-column: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 80%;
                border-radius: 50px;
                margin:30px 0 20px;
                box-shadow: -1px 1px 3px #000000;
            }
            button{
                font-family: "Baloo Paaji 2", cursive;
                width: 80%;
                height: 5vh;
                border-radius: 150px;
                border: none;
                background: #ff0000;
                color:#fff;
                box-shadow: -1px 1px 3px #000000;
                transition: ease-in-out 0.6s;
                &:hover{
                    background: #fff;
                    color: #ff0000;
                    cursor: pointer;
                }
            }
            .delete{
                width: 60%;
            }
        }
        .descuento{
            grid-column: 1/3;
            grid-row: 4/5;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
                fieldset{
                    padding: 10%;
                    label{
                        #cupon{
                            background: #fff;
                            border:none;
                            border-bottom: 1px solid #ff2244;
                            &:focus{
                                border-bottom: 1px solid #44aa09;
                            }
                        }
                        #aplicar-descuento{
                            background: #ff0000;
                            color: #fff;
                            border:none;
                            padding: 10px;
                            border-radius: 5px;
                        }
                    }
                }
        }
        .calculo{
            grid-column: 3/5;
            grid-row: 4/6;
            background: #686666;
            border-radius: 10px;
            font-family: "Baloo Paaji 2", cursive;
            margin: 20px;
            text-align: center;
            color: #fff;
            h3{
                color: #ff9216;
                text-shadow: 1px 1px 1px #000000;
            }
        }
        .continuar-comprando{
            grid-column: 1/2;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #continuar-compra{
                background: #44aa09;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        .comprar{
            grid-column: 2/3;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #terminar-compra{
                background: #ff0000;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        section{
            grid-column: 1/5;
            grid-row: 6/7;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr 1fr;
            article{
                grid-column: 1/6;
                grid-row: 1/2;
                display: flex;
                justify-content: space-between;
                .box{
                    margin: 20px;
                }
            }
        }
    }
    footer{
        
    }
    section{
        article{
            .box{
                display: none;
            }
        }
    }
}
}

@media (max-width: 375px) {
    .container{
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        .menu {
            grid-row: 2/3;
            grid-column: 1/4;
            margin: 0 auto;
            font-size: 12px;
        }
        .buscador {
            position: relative;
            top: -20px;
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr auto auto 30px;
        grid-column: 1/5;
        grid-row: 2/3;
        .box {
            grid-column: 1/4;
            display: flex;
            flex-direction: column;
            background: #686666;
            color: #fff;
            height: 93%;
            width: 100%;
            border-radius: 5px;
            font-family: "Baloo Paaji 2", cursive;
            .titulo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                grid-column: 1/4;
                grid-row: 1/2;
                background:#ff0000;
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                box-shadow: 0px 0px 3px #000000;
            }
        .detalle{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 30px 1fr 1fr auto;
            margin: 20px;
            .precio{
                grid-column: 2/4;
                grid-row: 4/5;
                h3{
                    font-size: 51px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000000;
                }
            }
            .cantidad{
                grid-column: 2/3;
                grid-row: 3/4;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 33px;
                margin: 20px;
                .agregar{
                    font-size: 30px;
                    background: #44aa09;
                    color: #000000;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
                .quitar{
                    font-size: 30px;
                    background: #ff0000;
                    color: #fff;
                    border: none;
                    padding: 0px 15%;
                    width: 100%;
                    height: 100%;
                    border-radius: 150px;
                    cursor: pointer;
                }
            }
            .informacion-juego{
                grid-column: 1/4;
                grid-row: 2/3;
                display: flex;
                justify-content: space-around;
                font-size: 13px;
                strong{
                    color: #ff8800e5;
                    text-shadow: 1px 1px 1px #000000;
                }
                .dato1{
                    margin-right: 20px;
                }
            }
        }
        }
        .img-producto-borrar{
            grid-column: 4/5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .delete{
                width:70%
            }
            img{
                width: 40%;
                border-radius: 50px;
                margin:30px 0 20px;
                box-shadow: -1px 1px 3px #000000;
            }
            button{
                font-family: "Baloo Paaji 2", cursive;
                width: 100%;
                height: 5vh;
                border-radius: 150px;
                border: none;
                background: #ff0000;
                color:#fff;
                box-shadow: -1px 1px 3px #000000;
                transition: ease-in-out 0.6s;
                &:hover{
                    background: #fff;
                    color: #ff0000;
                    cursor: pointer;
                }
            }
        }
        .descuento{
            grid-column: 1/3;
            grid-row: 4/5;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
                fieldset{
                    padding: 10%;
                    label{
                        #cupon{
                            background: #fff;
                            border:none;
                            border-bottom: 1px solid #ff2244;
                            &:focus{
                                border-bottom: 1px solid #44aa09;
                            }
                        }
                        #aplicar-descuento{
                            background: #ff0000;
                            color: #fff;
                            border:none;
                            padding: 10px;
                            border-radius: 5px;
                        }
                    }
                }
        }
        .calculo{
            grid-column: 3/5;
            grid-row: 4/6;
            background: #686666;
            border-radius: 10px;
            font-family: "Baloo Paaji 2", cursive;
            margin: 20px;
            text-align: center;
            color: #fff;
            h3{
                color: #ff9216;
                text-shadow: 1px 1px 1px #000000;
            }
        }
        .continuar-comprando{
            grid-column: 1/2;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #continuar-compra{
                background: #44aa09;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        .comprar{
            grid-column: 2/3;
            grid-row: 5/6;
            font-family: "Baloo Paaji 2", cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            #terminar-compra{
                background: #ff0000;
                color: #fff;
                border:none;
                width: 80%;
                height: 10vh;
                border-radius: 4px;
            }
        }
        section{
            grid-column: 1/5;
            grid-row: 6/7;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr 1fr;
            article{
                grid-column: 1/6;
                grid-row: 1/2;
                display: flex;
                justify-content: space-between;
                .box{
                    margin: 20px;
                }
            }
        }
    }
    footer{
        
    }
    section{
        article{
            .box{
                display: none;
            }
        }
    }
}
}
