:root {
  --color1: #ef233c;
  --color2: #d90429;
  --color3: #cacaca;
  --color4: #ffffff;
  --color5: #000000;
}

.container-fluid .section .editar-boton {
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #498ff8;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
  margin-left: 20px;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.container-fluid .section .editar-boton:hover {
  background-color: #414040;
  color: #b1bfff;
}

.container-fluid .section #eliminar .btn-eliminar {
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: red;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
  margin-left: 20px;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.container-fluid .section #eliminar .btn-eliminar:hover {
  background-color: white;
  color: red;
}

.container-fluid .section__info {
  background: var(--color3);
  border-radius: 5px;
  padding: 10px;
}

.container-fluid .section__especificaciones {
  background: var(--color3);
  margin-top: 20px;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.container-fluid .section__strong {
  color: var(--color5);
  text-shadow: none;
}

.container-fluid .section__acerca {
  background: var(--color3);
  margin-top: 20px;
  color: var(--color4);
  border-radius: 5px;
  padding: 10px;
  color: #000000;
}

.container-fluid .section__h5 {
  color: var(--color5);
  text-shadow: none;
  font-size: 30px;
  text-align: center;
}

.container-fluid .section__h3 {
  color: black;
  font-size: 40px;
}

.container-fluid .section__comentarios {
  margin-top: 30px;
  background: lightgray;
  color: var(--color4);
  color: black;
  border-radius: 5px;
}

.container-fluid .section__img-perfil {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin-top: 20px;
}

.container-fluid .section__logoimg {
  width: 100%;
  height: 50%;
}

@media (max-width: 768px) {
  .container-fluid .section__video {
    display: none;
  }
  .container-fluid .section__boton {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container-fluid .section__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container-fluid .section__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container-fluid .section__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .container-fluid .section__especificaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .container-fluid .section__boton {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=productDetail.css.map */