*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    header{
        display: grid;
        grid-template-columns: 300px 1fr auto;
        grid-template-rows: repeat(1,1fr);
        border-bottom: 4px solid red;
        box-shadow: 1px 1px 3px black;
        .logo{
            img{
                width: 15vw;
                animation: 5s infinite;
                animation-name: logo-move;
            }
        }
        .menu{
            display: flex;
            align-items: center;
            grid-column: 3/4;
            font-family: 'Timmana', sans-serif;
            nav{
                ul{
                display: flex;
                position: relative;
                li{
                    &:hover .submenu{
                        position: absolute;
                        left: 70px;
                        display: block;
                    }
                    .submenu{
                        display: none;
                        background: #f2f2f2;
                        box-shadow: 1px 2px 3px black;
                        border-radius: 4px;
                        strong{
                            color: red;
                        }
                        .videojuegos{
                            position: relative;
                            ul{
                                display: none;
                            }
                            &:hover ul{
                                background: #f2f2f2;
                                box-shadow: 1px 2px 3px black;
                                border-radius: 4px;
                                position: absolute;
                                top: -20px;
                                left: 88px;
                                display: inline-block;
                            }
                        }
                        
                    }
                    a{
                        &:hover{
                            color: #ff2244;
                        }
                        transition: ease-in-out 0.3s;
                        color: #000000;
                        text-decoration: none;
                    }
                    margin: 20px;
                    margin-left: 20px;
                    list-style: none;
                }
            }
        }
    }
        .buscador{
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0 auto;
            margin-top: 15%;
            text-align: center;
            label{
                display: flex;
                #enviar{
                    font-family: 'Timmana', sans-serif;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border: 2px solid red;
                    padding: 10px;
                    margin: 0;
                    cursor: pointer;
                    transition:ease-in-out 0.4s;
                    &:hover{
                        background: black;
                        color: white;
                        text-decoration: underline;
                    }

                }
                #buscador{
                    font-family: 'Timmana', sans-serif;
                    width: 30vw;
                    max-width: 100%;
                    background: #fff;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
    main{
        font-family: 'Timmana', sans-serif;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .slide {
            grid-column: 1/5;
            grid-row: 1/2;
            overflow: hidden;
            ul{
                display: flex;
                width: 400%;
                animation: cambio 15s infinite alternate;
                li{
                    width: 100%;
                    list-style: none;
                }
            }
            img{
                width: 100%;
                height: 80vh;
                border: 10px solid black;
        }
    }
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-column: 1/5;
        article{
            strong{
                color: #fffb00;
            }
            .cartas{
                h2{
                    color: #f2f2f2;
                    font-size: 40px;
                }
                p{
                    padding: 5px;
                    color: #f2f2f2;
                }
                button{
                    font-family: 'Timmana', sans-serif;
                    color: #f2f2f2;
                    background: #000000;
                    width: 13vw;
                    height: 6vh;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    box-shadow: 1px 2px 2px black;
                    cursor: pointer;
                    transition: ease-in-out 0.3s;
                    &:hover{
                        background: #fff;
                        color: #ff2244;
                        text-shadow: 1px 1px 1px black;
                    }
                }
                img{
                    width: 100%;
                    max-width: 60%;
                    height: 39%;
                    margin: 20px;
                }
                grid-column: 1/2;
                text-align: center;
                background: #464041f0;
                width: 20vw;
                min-width: 54px;
                height: 115%;
                border-radius: 4px;
                margin: 20px;
                box-shadow: 1px 2px 3px black;
            }
        }
    }
    }
    footer{
        font-family: 'Timmana', sans-serif;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column: 1/5;
        background: red;
        .pestanias{
            margin-top: 10%;
            margin: 25px;
            li{
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover{
                        color: black;
                    }
                }
            }
        }

        .contacto{
            margin-top: 10%;
            margin: 25px;
            li{
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    #facebook{
                        width: 200px;
                    }
                    &:hover{
                        color: black;
                    }
                }
            }
        }
        .redes{
            margin: 25px;
            display: flex;
            justify-content: space-between;
            grid-column: 4/5;
            align-items: center;
            li{
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in-out 0.4s;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
    .arriba{
        position: fixed;
        bottom: 20px;
        right: 20px;
        img{
            width: 2vw;
        };
    }
}

@keyframes cambio{
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }

}
@keyframes logo-move {
    0%,
    100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
    }
}


@media (max-width: 992px) { 
    .container{
        header{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr auto;
            .menu-responsive{
                grid-column: 1/4;
                grid-row: 2/3;
                font-family: 'Timmana', sans-serif;
                background: red;

                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        margin: 20px;
                        list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            transition: ease-in-out 0.3s;
                            &:hover{
                            color: #000000;
                            }
                        }
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }
}