
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../images/fanzone1.jpg');
    background-size: cover;  
    .name{
        position: relative;
        width: 100%;

        .user{
            color: red;
            position: absolute;
            bottom: 10px;
            left: 5px;
            z-index: 1;

        }
    }
    .apellido{
        position: relative;
        width: 100%;

        .user2{
            position: absolute;
            bottom: 10px;
            left: 5px;
            z-index: 1;

        }
    }
    .emaill{
        position: relative;
        width: 100%;
        .email-ico{
            position: absolute;
            bottom: 10px;
            left: 2px;
            z-index: 1;
        }
    }
    .pass{
        position: relative;
        width: 100%;
        .pass-ico{
            position: absolute;
            bottom: 10px;
            left: 2px;
            z-index: 1;
        }
    }
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    flex-wrap: wrap;
    .errors{
        background: rgba(255, 0, 0, 0.452);
        border-radius: 5px;
        padding:20px;
        ul{
            li{
                list-style: none;
            }
        }
        p{
            font-weight: bold;
            font-size: 20px;
        }
    }
    label{
        margin:20px;
    }
    .input-r{
       padding: 10px;
       padding-left: 30px;
       background:none;
       border: none;
       border-bottom: 2px solid red;
       background: #a69e9e5e;
       &:focus{
           color: green;
       }
       &:required{
           border: 2px solid green;
       }
    }
}