<section class="card col-9 col-sm-2 col-dm-2 col-lg-4 col-xl-3 mt-2">
    <div class="card ml-5" style="width: 18rem;">
      <img class="card-img-top" src="/images/product-cart/r3.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Resident Evil 3 Remake</h5>
        <hr>
        <p class="card-text">
          <strong>Fecha de estreno inicial: </strong> 3 de abril de 2020
          <hr>
          </p>
            <strong class="precio">$3.500</strong>
            <hr>
        <a href="#" class="btn btn-primary offset-4">Comprar</a>
      </div>
    </div>
  </section>