<footer class="footer row d-flex justify-content-center align-item-center">   
  <div class="footer__menu col-12 d-none  d-sm-flex col-sm-12 col-md-3 col-lg-3 align-self-center offset-1">
      <a href="">Home</a>
      <a href="">Merchandising</a>
      <a href="">VideoJuegos</a>
      <a href="">Accesorios</a>
    </div>
    
    <div class="footer__redes col-12 col-sm-12 col-md-12 col-lg-4 align-self-center offset-1">
      <a href=""><i class="fab fa-facebook" id="fc"></i></a>
      <a href=""><i class="fab fa-twitter-square" id="twt"></i></a>
      <a href=""><i class="fab fa-instagram" id="ins"></i></a>
    </div>
    <div class="footer__logo col-4 col-sm-4 col-md-3 col-lg-1 align-self-center">
      <img src="/images/logo.png" alt="" class="img-fluid">
    </div>
    <div class="copy col-12 text-center">
      &copy; Copyright Game Over
    </div>
  </footer>