
<footer class="row">
    <div class="col-12 col-md-4 d-flex justify-content-space-between">
        <h5>Estamos en:</h5>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a> 
    </div>
    <div class="col-12 col-md-4 d-flex flex-column align-items-center">
        <h4>Contactanos</h4>
        <form action="">
            <div class="form-group w-70">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-enviar">Enviar</button>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center">
        <span>Tejedor 867, Almagro </span>
        <span>4305-1832/1833/1834</span>
        <span>copyright 2020</span>
    </div>
</footer>