<footer class="footer row d-flex justify-content-center align-item-center">   
  <div class="footer__menu col-12 d-none  d-sm-flex col-sm-12 col-md-3 col-lg-3 align-self-center offset-1">
      <a href="">Home</a>
      <a href="">Merchandising</a>
      <a href="">VideoJuegos</a>
      <a href="">Accesorios</a>
    </div>
    <div class="footer__menu-responsive col-12 d-md-none">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="responsive-menu">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Merchandising</a>
            <a class="nav-item nav-link" href="#">Accesorios</a>
            <a class="nav-item nav-link" href="#">Video Juegos</a>
            <a class="nav-item nav-link" href="#">FanZone</a>
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Registro</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="footer__redes col-12 col-sm-12 col-md-12 col-lg-4 align-self-center offset-1">
      <a href=""><i class="fab fa-facebook" id="fc"></i></a>
      <a href=""><i class="fab fa-twitter-square" id="twt"></i></a>
      <a href=""><i class="fab fa-instagram" id="ins"></i></a>
    </div>
    <div class="footer__logo col-4 col-sm-4 col-md-3 col-lg-1 align-self-center">
      <img src="/images/logo.png" alt="" class="img-fluid">
    </div>
    <div class="copy col-12 text-center">
      &copy; Copyright Game Over
    </div>
  </footer>