<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <title>Panel Administrador - GamerOver</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="images/logo.png" alt="logo" class="logo-img">
            <h1>ADMINISTRADOR GAME OVER</h1>
        </header>
        <div class="buscador">
            <h3>GameOver</h3>
            <label for="buscador">
                <i class="fas fa-search" id="lupa"></i>
                <input type="search" name="buscador" id="buscador" placeholder="¿QUE BUSCAS?">
            </label> 
            <a href=""><i class="fas fa-sign-out-alt" id="sign-out"></i></a>
            <a href=""><i class="far fa-bell" id="notificacion"></i></a> 
        </div>
        <nav class="nav-lateral">
            <ul>
                <li><a href="">CORREO</a></li>
                <li><a href="">ESTADISTICAS</a></li>
                <li><a href="">FAN-ZONE</a></li>
            </ul>

        </nav>
        <main class="detalle-admin">
            <a href=""><i class="fas fa-box-open" id="agregar-producto"></i></a>
            <a href=""><i class="fas fa-edit" id="editar-producto"></i></a>
            <a href=""><i class="fas fa-trash" id="borrar-producto"></i></a>
            <a href=""><i class="fas fa-users" id="editar-usuarios"></i></a>
            <a href=""><i class="fas fa-shipping-fast" id="metodo-envios"></i></a>
        </main>
    </div>
</body>
</html>