<!DOCTYPE html>
<html lang="es">
<!-- HEAD HTML-->
<%- include('./partials/head') %>

<body>
    <div class="container-fluid">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- MENU LATERAL-->
        <div class="main row">
            <div class="menu col d-none d-md-block">
                <a href="">FanZone</a>
                <a href="">E-mail</a>
                <a href="">Estadisticas</a>
            </div>
            <div class="menu-responsive col-12 d-sm-block d-md-none d-lg-none d-xl-none">
                <a href="">FanZone</a>
                <a href="">E-mail</a>
                <a href="">Estadisticas</a>
            </div>

            <div class="main_contenedor col-10" >
                <div class="main_titulo col-12">
                    <h2>PANEL ADMINISTRADOR</h2>
                </div>
                <div class="main-boxes row d-flex align-items-center">
                    <div class="main_agregar d-flex flex-column align-items-center col-sm-6 col-md-2 ">
                        <div class="agregar_img"><img src="/images/admin/agregar.png" alt=""></div>
                        <button type="button" class="btn btn-outline-success">Agregar</button>
                    </div>
                    <div class="main_borrar d-flex flex-column align-items-center col-sm-6 col-md-2">
                        <div class="agregar_img"><img src="/images/admin/borrar.png" alt=""></div>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                    <div class="main_editar d-flex flex-column align-items-center col-sm-6 col-md-2">
                        <div class="agregar_img"><img src="/images/admin/modificar.png" alt=""></div>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                    <div class="main_editar d-flex flex-column align-items-center col-sm-6 col-md-2">
                        <div class="agregar_img"><img src="/images/admin/estadisticas.png" alt=""></div>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                    <div class="main_usuario d-flex flex-column align-items-center col-sm-6 col-md-2">
                        <div class="agregar_img"><img src="/images/admin/usuario.png" alt=""></div>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                    <div class="main_envio d-flex flex-column align-items-center col-6 col-md-2">
                        <div class="agregar_img"><img src="/images/admin/envio.png" alt=""></div>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %> 



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>