<!DOCTYPE html>
<html lang="es">
<head>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script
        src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
    ></script>
</head>
<body>
    <div class="wrapper-web">
        <div class="wrapper-header">
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div class="search">
                <label for="search">
                    <input type="search" name="search" id="search" placeholder="¿QUE BUSCAS?">
                </label>
                <label for="send">
                    <button type="submit" id="submit"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
                </label>
            </div>
        </div>
        <nav class="wrapper-nav">
            <ul class="menu">
                <li> <i class="fas fa-home">            
                </i><a href=""> HOME</a></li>
                <li><a href="">CATALOGO</a></li>
                <li><a href="">FANZONE</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href=""> CARRITO</a></li>
                <li><i class="fas fa-user-alt"></i><a href=""> LOGIN</a></li>
            </ul>
        </nav>
        <div class="wrapper-main">  
            <div class="tittle-carrito">
                <h1>CHECKOUT</h1>
            </div>
            
            <footer class="footer">
                <nav class="menu-footer">
                    <ul>
                        <a href=""><li>INICIO</li></a>
                        <a href=""><li>CATALOGO</li></a>
                        <a href=""><li>FAN ZONE</li></a>
                        <a href=""><li>LOGIN</li></a>
                    </ul>
                    <ul>
                        <a href=""><li>TELEFONO</li></a>
                        <a href=""><li>EMAIL</li></a>
                        <a href=""><li>CONTACTO</li></a>
                    </ul>
                    <ul>
                        <a href=""><li>INSTAGRAM</li></a>
                        <a href=""><li>FACEBOOK</li></a>
                        <a href=""><li>TWITTER</li></a>
                    </ul>
                </nav>
                    <img src="images/logo.png" alt="">
                </footer>
                <div class="copy">
                    <p>&copy; 2020 www.GameOver.com.ar<p></p>
                </div>
            </div>
    </div>
</body>
</html>