<!DOCTYPE html>
<html lang="es">
<!-- HEAD HTML-->
<%- include('./partials/head') %>

<body>
  <div class="container-fluid">
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- MENU -->
    <%- include('./partials/navbar') %>
        <div class="container">
            <div id= "row1" class="row">
                <div class="col-12">
                    <h1>FAN ZONE</h1>
                </div>
            </div>
            <div id= "row2" class= "row">
                <div class= "col-3">
                    <img class="img-fluid" src="/images/FanZone/avatargeekboy.jpg">
                </div>
                <div class="col-5">
                    <ul>
                        <li>Username: Ancoder</li>
                        <li>Email: abc@uol.com</li>
                    </ul>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-danger">EDITAR PERFIL</button>
                </div>
            </div>
            <div id= "row3" class="row">
                <div id="reviews" class= "col-6">
                    <h1>TOP REVIEWS</h1>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          The last of us 2:<br>Lo mejor del 2020
                          <span class="badge badge-primary badge-pill">5/5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Fallout 66:<br>Mucho que desear
                          <span class="badge badge-primary badge-pill">3/2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Diablo IV: <br>Mejor que Diablo II
                          <span class="badge badge-primary badge-pill">5/5</span>
                        </li>
                      </ul>
                </div>
                <div id="recientes" class= "col-6">
                    <h1>MAS RECIENTES</h1>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          AOE 4<br>Al fin!!
                          <span class="badge badge-primary badge-pill">5/5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Cyberpunk 2077:<br>Además de Keanu...
                          <span class="badge badge-primary badge-pill">4/5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Halo Infinite:<br>La redencion
                          <span class="badge badge-primary badge-pill">5/5</span>
                        </li>
                      </ul> 
                </div>
            </div>
            <div id="row4" class="row">
                <div class="col-3"></div>
                <div class="col-5 mb-4 mt-5">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">TODOS LOS REVIEWS</button>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <%- include('./partials/footer') %> 
  </div>

        



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
       