<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <div class="container-fluid">
        <%- include('./partials/header') %>
        <%- include('./partials/navbar') %>

        <div id="login-container" class="container-fluid">
            <form action="" id="formulario">
                <div class="title col-12">
                    <h2>LOGIN DE USUARIO</h3>
                </div>
                <div class="information row" id="informacion">
                    <div class="form-group col-12">
                        <label id="user-label" for="username">Usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingresa tu usuario"
                            required="">
                    </div>
                    <div class="form-group col-12">
                        <label id="password-label" for="password">Contrase単a</label>
                        <input type="text" name="password" id="password" class="form-control"
                            placeholder="Ingresa tu contrase単a" required="">
                    </div>
                    <div class="btn col-12 mb-4">
                        <button type="button" class="col-4 btn btn-primary btn-lg mb-4">INICIAR SESION</button>
                        <a class="col-12" href=""><h4>多Olvidaste tu contrase単a?</h4></a>
                    </div>
                </div>
            </form>

        </div>



        <%- include('./partials/footer') %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>