<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/logo.png" alt="logo" id="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Catalogo</a>
                            <ul class="submenu">
                                <li><a href="">Merchandising</a></li>
                                <li><a href="">Accesorios</a></li>
                                <li class="videojuegos"><a href="">VideoJuegos <strong>></strong></a>
                                <ul>
                                    <li><a href="">Accion</a></li>
                                    <li><a href="">Aventura</a></li>
                                    <li><a href="">Conduccion</a></li>
                                    <li><a href="">Deportes</a></li>
                                </ul>
                                </li>
                            </ul>
                    </li>
                        <li><a href="">Fan Zone</a></li>
                        <li><a href="">Carrito</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buscador">
                <label for="buscador">
                <i class="fas fa-search" id="lupa"></i>
                <input type="search" name="buscador" id="buscador" placeholder="¿Que desea buscar?">
                <input type="submit" value="ENVIAR" id="enviar">
                </label>
            </div>
        </header>
    </div>
    <div class="contenedor">
            <div class="visual">
                <iframe src="https://www.youtube.com/embed/Z3xSGv3Hfio" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img src="/images/product-images/final-fantasy4.jpg">
                <img src="/images/product-images/final-fantasy2.jpg">
                <img src="/images/product-images/final-fantasy3.jpg">
                <img src="/images/product-images/final-fantasy1.jpg">
            </div>
            <div class="info">
                <img class="logo2" src="/images/product-images/logo.png">
                    <p><br>El mundo ha caído bajo el dominio de Shinra Electric Power Company 
                        una siniestra corporación que controla la energía mako, la fuente de vida del planeta.</br> 
                        <br>En la extensa ciudad de Midgar, una organización antishinra autodenominada Avalancha ha iniciado la resistencia. 
                        Cloud Strife, un exmiembro de la unidad de elite SOLDADO de Shinra devenido mercenario</p>
                <div class="descripcion">
                    <p><strong>FECHA LANZAMIENTO:</strong>05/04/2020</p>
                    <p><strong>DESARROLLADOR:</strong>Square Enix</p>
                    <p><strong>EDITOR:</strong>Square Enix</p>
                    <p><strong>PRECIO:</strong>$4900</p>
                </div>
                <div class="btn-comprar">
                    <button type="submit">AÑADIR AL CARRITO</button>
                </div>   
            </div>
        </div>
        <section class="detalle">
            <h1>ACERCA DE ESTE JUEGO</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sit consequuntur doloribus 
                ab ipsum quae repudiandae fugit cumque veniam molestias, soluta, fuga corrupti deserunt. 
                Impedit totam optio veritatis error blanditiis.</p>
        </section>
        <section class="clasificacion">
            <h2>CLASIFICACIÓN ESRB</h2>
            <div class="imagenes">
                <img src="/images/product-images/ps4.png" alt="">
                <img src="/images/product-images/rating.png" alt="">
            </div>
        </section>
    </div>    
</body>
</html>