<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/detail2.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <title>Detalle del producto</title>
</head>
<body>
    <div class="wrapper-web">
        <!--HEADER-->
        <div class="wrapper-header">
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div class="search">
                <label for="search">
                    <input type="search" name="search" id="search" placeholder="¿QUE BUSCAS?">
                </label>
                <label for="send">
                    <button type="submit" id="submit"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
                </label>
            </div>
        </div>
         <!--MENU HEADER-->
        <nav class="wrapper-nav">
            <ul class="menu">
                <li> <i class="fas fa-home"></i></li>            
                <li><a href=""> HOME</a></li>
                <li><a href="">CATALOGO</a></li>
                <li><a href="">FANZONE</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href=""> CARRITO</a></li>
                <li><i class="fas fa-user-alt"></i><a href=""> LOGIN</a></li>
            </ul>
        </nav>
        <!--MAIN-->
            <div class="demo">
                <iframe src="https://www.youtube.com/embed/Z3xSGv3Hfio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </iframe>"
            </div>
            <div class="images-demo">
                <img src="/images/product-images/final-fantasy4.jpg" alt="">
                <img src="/images/product-images/final-fantasy2.jpg" alt="">
                <img src="/images/product-images/final-fantasy3.jpg" alt="">
                <img src="/images/product-images/final-fantasy1.jpg" alt="">
            </div>
        <section>
            <div class="logo-img">
                <img src="/images/product-images/logo.png" alt="">
            </div>
            <div class="descripcion-demo">
                <p>El mundo ha caído bajo el dominio de Shinra Electric Power Company, 
                    una siniestra corporación que controla la energía mako, la fuente de vida del planeta. 
                    En la extensa ciudad de Midgar, una organización antishinra autodenominada Avalancha ha iniciado la resistencia. 
                    Cloud Strife, un exmiembro de la unidad de elite SOLDADO de Shinra devenido mercenario, presta colaboración al 
                    grupo, sin conocer las consecuencias épicas que esto acarreará.</p>
            </div>
            <div class="descripcion-juego">
                <p>FECHA LANZAMIENTO: 05/04/2020</p>
                <p>DESARROLLADOR:Square Enix</p>
                <p>EDITOR:Square Enix</p>
                <p>PRECIO:$4900</p>
            </div>
            <div class="btn-comprar">
                <button type="submit">AÑADIR AL CARRITO</button>
            </div>    
        </section>
            <div class="este-juego">
                <h3>ACERCA DE ESTE JUEGO</h3>
                <p>Final Fantasy VII Remake es una nueva versión del célebre J-RPG de Square Enix para PlayStation 4 con un 
                apartado técnico de nueva generación para un título que se lanzó por primera vez en 1997 y se considera universalmente
                como título de referencia del género RPG. A la cabeza del desarrollo estarán los miembros clave del proyecto original: 
                el productor Yoshinori Kitase, el director Tetsuya Nomura y el guionista Kazushige Nojima. El mundo está dominado por 
                la compañía eléctrica Shinra, una siniestra corporación que controla la energía mako, la fuerza vital del planeta. 
                En la enorme ciudad de Midgar, una organización contraria a Shinra llamada Avalancha intensifica su resistencia. 
                Cloud Strife, un antiguo miembro de la unidad de élite Soldado convertido en mercenario, presta su ayuda al grupo 
                sin saber las épicas consecuencias que esto acarreará.</p>
            </div>
            <div class="calificaciones">
                <img src="/public/images/product-images/esrb-rating-tb-01-us-01may19.png">
                <img src="/public/images/product-images/ps4.png">
            </div>
            <div class="resenia">
                <h3>RESEÑAS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eius temporibus dicta atque, beatae omnis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum asperiores eos, atque id, excepturi</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum et adipisci deserunt odio, sapiente eum</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi nemo non magnam eum vel, inventore necessitatibus</p>
            <div class="contenedorCards">
                <h3>PUEDEN INTERESARTE</h3>
                    <div class="card card-2" id="card1">
                        <h2>TITULO</h2>
                        <img src= "/public/images/product-images/dragon-ball-z-kakarot-20201311445449_1.jpg"style="width:200px"alt="">
                        <h3>$4000</h3>
                    </div>
                    <div class="card card-2" id="card2">
                        <h2>TITULO</h2>
                        <img src= "/public/images/product-images/days-gone-201912413193876_1.jpg" style="width:200px"alt="">
                        <h3>$5000</h3>
                    </div>
                    <div class="card card-2" id="card3">
                        <h2>TITULO</h2>
                        <img src= "/public/images/product-images/ghost-of-tsushima-20203517513223_1.jpg" style="width:200px"alt="">
                        <h3>$4500</h3>
                    </div>
            </div>
            <!--FOOTER-->
            <div class="footer">
                <footer>
                    <h3>FOOTER</h3>
                </footer>
            </div>
            </div>
</body>
</html>