<!DOCTYPE html>
<html lang="es">
<head>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compra</title>
    <script
        src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
    ></script>
</head>
<body>
    <div class="wrapper-web">
        <div class="wrapper-header">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="search">
                <label for="search">
                    <input type="search" name="search" id="search" placeholder="¿QUE BUSCAS?">
                </label>
                <label for="send">
                    <button type="submit" id="submit"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
                </label>
            </div>
        </div>
        <nav class="wrapper-nav">
            <ul class="menu">
                <li> <i class="fas fa-home">            
                </i><a href=""> HOME</a></li>
                <li><a href="">CATALOGO</a></li>
                <li><a href="">FANZONE</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href=""> CARRITO</a></li>
                <li><i class="fas fa-user-alt"></i><a href=""> LOGIN</a></li>
            </ul>
        </nav>
        <div class="wrapper-main">  
            <div class="tittle-carrito">
                <h1><img src="/images/cart.png" alt="cart">CARRITO</h1>
            </div>
            <div class="wrapper-box">
                <!--BOX UNO-->
                <div class="box">
                    <div class="tittle">
                        <h2 id="total">TOTAL</h2>
                        <h2>CANTIDAD</h2>
                        <h2>RESIDENT EVIL 3 REMAKE</h2>
                    </div>
                    <hr> <br>
                    <div class="detail-box">
                        <div class="price">
                            <h2>$10.00</h2>
                        </div>
                        <div class="quantity">
                            <button type="submit" id="add">+</button>
                            <h2>2</h2>
                            <button type="submit" id="less">-</button>
                        </div>
                        <div class="detail">
                            <p><strong>Genero:</strong> <br> Aventura,Accion</p>
                            <p><strong>Plataforma:</strong> <br>PC PS4 XBOX</p>
                            <p><strong>Desarrollador:</strong><br> CAPCOM</p>
                        </div>
                        <div class="detail-2">
                            <p><strong>Lanzamiento:</strong><br>03/04/2020</p>
                            <p><strong>Texto:</strong><br>ESPAÑOL</p>
                            <p><strong>Voces:</strong><br>ESPAÑOL</p>
                        </div>
                    </div>
                </div>
                <div class="pik">
                    <img src="images/r3.webp" alt=""><br>
                    <i class="fas fa-minus-circle" id="delete"></i>

                </div>
                <!--BOX DOS-->
                <div class="box">
                    <div class="tittle">
                        <h2 id="total">TOTAL</h2>
                        <h2>CANTIDAD</h2>
                        <h2>RESIDENT EVIL 3 REMAKE</h2>
                    </div>
                    <hr> <br>
                    <div class="detail-box">
                        <div class="price">
                            <h2>$10.00</h2>
                        </div>
                        <div class="quantity">
                            <button type="submit" id="add">+</button>
                            <h2>2</h2>
                            <button type="submit" id="less">-</button>
                        </div>
                        <div class="detail">
                            <p><strong>Genero:</strong> <br> Aventura,Accion</p>
                            <p><strong>Plataforma:</strong> <br>PC PS4 XBOX</p>
                            <p><strong>Desarrollador:</strong><br> CAPCOM</p>
                        </div>
                        <div class="detail-2">
                            <p><strong>Lanzamiento:</strong><br>03/04/2020</p>
                            <p><strong>Texto:</strong><br>ESPAÑOL</p>
                            <p><strong>Voces:</strong><br>ESPAÑOL</p>
                        </div>
                    </div>
                </div>
                <div class="pik">
                    <img src="images/r3.webp" alt=""><br>
                    <i class="fas fa-minus-circle" id="delete"></i>
    
                </div>
                <!--BOX TRES-->
                <div class="box">
                    <div class="tittle">
                        <h2 id="total">TOTAL</h2>
                        <h2>CANTIDAD</h2>
                        <h2>RESIDENT EVIL 3 REMAKE</h2>
                    </div>
                    <hr> <br>
                    <div class="detail-box">
                        <div class="price">
                            <h2>$10.00</h2>
                        </div>
                        <div class="quantity">
                            <button type="submit" id="add">+</button>
                            <h2>2</h2>
                            <button type="submit" id="less">-</button>
                        </div>
                        <div class="detail">
                            <p><strong>Genero:</strong> <br> Aventura,Accion</p>
                            <p><strong>Plataforma:</strong> <br>PC PS4 XBOX</p>
                            <p><strong>Desarrollador:</strong><br> CAPCOM</p>
                        </div>
                        <div class="detail-2">
                            <p><strong>Lanzamiento:</strong><br>03/04/2020</p>
                            <p><strong>Texto:</strong><br>ESPAÑOL</p>
                            <p><strong>Voces:</strong><br>ESPAÑOL</p>
                        </div>
                    </div>
                </div>
                <div class="pik">
                    <img src="images/r3.webp" alt=""><br>
                    <i class="fas fa-minus-circle" id="delete"></i>
    
                </div>
                <!--BOX CUATRO-->
                <div class="box">
                    <div class="tittle">
                        <h2 id="total">TOTAL</h2>
                        <h2>CANTIDAD</h2>
                        <h2>RESIDENT EVIL 3 REMAKE</h2>
                    </div>
                    <hr> <br>
                    <div class="detail-box">
                        <div class="price">
                            <h2>$10.00</h2>
                        </div>
                        <div class="quantity">
                            <button type="submit" id="add">+</button>
                            <h2>2</h2>
                            <button type="submit" id="less">-</button>
                        </div>
                        <div class="detail">
                            <p><strong>Genero:</strong> <br> Aventura,Accion</p>
                            <p><strong>Plataforma:</strong> <br>PC PS4 XBOX</p>
                            <p><strong>Desarrollador:</strong><br> CAPCOM</p>
                        </div>
                        <div class="detail-2">
                            <p><strong>Lanzamiento:</strong><br>03/04/2020</p>
                            <p><strong>Texto:</strong><br>ESPAÑOL</p>
                            <p><strong>Voces:</strong><br>ESPAÑOL</p>
                        </div>
                    </div>
                </div>
                <div class="pik">
                    <img src="images/r3.webp" alt=""><br>
                    <i class="fas fa-minus-circle" id="delete"></i>
    
                </div>

                
            </div>
            <!--DESCUENTO-->
            <div class="wrapper-calculador">
                    <div class="discount">
                        <hr>
                        <label for="discount">
                            <input type="text" name="discount" id="discount" placeholder="CODIGO DESCUENTO">
                        </label>
                        <label for="apply">
                            <input type="submit" value="APLICAR" id="apply">
                        </label>
                    </div>
                    <div class="calculating">
                        <p>SUB.TOTAL               $60.00</p>
                        <br>
                        <p>SUB.TOTAL               $60.00</p>
                        <br>
                        <hr>
                        <p id=total>SUB.TOTAL               $60.00</p>
                    </div>
                    
                    <button type="submit" id="continue-buying">CONTINUAR COMPRANDO</button>
                    <button type="submit" id="finish-buying">FINALIZAR COMPRA</button>

                    <div class="card card-2" id="card1">
                        <h2>TITULO</h2>
                        <img src="images/r3.webp" style="width:200px"alt="">
                        <h3>$30.000</h3>
                    </div>
                    <div class="card card-2" id="card2">
                        <h2>TITULO</h2>
                        <img src="images/r3.webp" style="width:200px"alt="">
                        <h3>$30.000</h3>
                    </div>
                    <div class="card card-2" id="card3">
                        <h2>TITULO</h2>
                        <img src="images/r3.webp" style="width:200px"alt="">
                        <h3>$30.000</h3>
                    </div>
            </div>
        </div>
        <div class="wrapper-footer">
            <H2>FOOTER</H2>
        </div>
    </div>
</body>
</html>