<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/scss/productCar.css">
    <!--FUENTES-->
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos del carrito</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/logo.png" alt="logo" id="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Catalogo</a>
                            <ul class="submenu">
                                <li><a href="">Mercandising</a></li>
                                <li><a href="">Accesorios</a></li>
                                <li class="videojuegos"><a href="">VideoJuegos <strong>></strong></a>
                                    <ul>
                                        <li><a href="">Accion</a></li>
                                        <li><a href="">Aventura</a></li>
                                        <li><a href="">Conduccion</a></li>
                                        <li><a href="">Deportes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="">Fan Zone</a></li>
                        <li><a href="">Carrito</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buscador">
                <label for="buscador">
                    <i class="fas fa-search" id="lupa"></i>
                    <input type="search" name="buscador" id="buscador" placeholder="¿Que desea buscar?">
                    <input type="submit" value="ENVIAR" id="enviar">
                </label>
            </div>
        </header>
        <main>
            <div class="box">
                <div class="titulo">
                    <h3>TOTAL</h3>
                    <h3>TITULO</h3>
                    <h3>CANTIDAD</h3>
                </div>
                <div class="detalle">
                    <div class="precio">
                        <h3>$100</h3>
                    </div>
                    <div class="cantidad">
                        <button type="submit" class="agregar">+</button>
                        <div class="unidad">1</div>
                        <button type="submit" class="quitar">-</button>
                    </div>
                    <div class="informacion-juego">
                        <div class="dato1">
                            <p><strong>Empresa:</strong> Capcom</p>
                            <p><strong>Genero</strong>: Accion/Terror</p>
                            <p><strong>Lanzamiento:</strong> 20-Enero-2019</p>
                        </div>
                        <div class="dato2">
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-producto-borrar">
                <img src="images/product-car/r3.webp" alt="">
                <button type="submit" class="delete">ELIMINAR</button>
            </div>
            <div class="box">
                <div class="titulo">
                    <h3>TOTAL</h3>
                    <h3>TITULO</h3>
                    <h3>CANTIDAD</h3>
                </div>
                <div class="detalle">
                    <div class="precio">
                        <h3>$100</h3>
                    </div>
                    <div class="cantidad">
                        <button type="submit" class="agregar">+</button>
                        <div class="unidad">1</div>
                        <button type="submit" class="quitar">-</button>
                    </div>
                    <div class="informacion-juego">
                        <div class="dato1">
                            <p><strong>Empresa:</strong> Capcom</p>
                            <p><strong>Genero</strong>: Accion/Terror</p>
                            <p><strong>Lanzamiento:</strong> 20-Enero-2019</p>
                        </div>
                        <div class="dato2">
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-producto-borrar">
                <img src="images/product-car/r3.webp" alt="">
                <button type="submit" class="delete">ELIMINAR</button>
            </div>
            <div class="box">
                <div class="titulo">
                    <h3>TOTAL</h3>
                    <h3>TITULO</h3>
                    <h3>CANTIDAD</h3>
                </div>
                <div class="detalle">
                    <div class="precio">
                        <h3>$100</h3>
                    </div>
                    <div class="cantidad">
                        <button type="submit" class="agregar">+</button>
                        <div class="unidad">1</div>
                        <button type="submit" class="quitar">-</button>
                    </div>
                    <div class="informacion-juego">
                        <div class="dato1">
                            <p><strong>Empresa:</strong> Capcom</p>
                            <p><strong>Genero</strong>: Accion/Terror</p>
                            <p><strong>Lanzamiento:</strong> 20-Enero-2019</p>
                        </div>
                        <div class="dato2">
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                            <p><strong>Lanzamiento:</strong> dato</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-producto-borrar">
                <img src="images/product-car/r3.webp" alt="">
                <button type="submit" class="delete">ELIMINAR</button>
            </div>
            <div class="descuento">
                <fieldset>
                    <legend>CUPON DE DESCUENTO</legend>
                    <label for="cupon">
                        <input type="text" name="cupon" id="cupon" placeholder="Codigo de descuento">
                        <input type="submit" value="APLICAR" id="aplicar-descuento">
                    </label>
                </fieldset>
            </div>
            <div class="calculo">
                <div class="cupon-sub">
                    <h3>Sub. Total</h3>
                    <p>$140.00</p>
                    <h3>Cod.Descuento</h3>
                    <p>$20.00</p>
                </div>
                <div class="total">
                    <h3>TOTAL:</h3>
                    <p>$120.00</p>
                </div>
            </div>
            <div class="continuar-comprando">
                <button type="submit" id="continuar-compra">Continuar compra</button>
            </div>
            <div class="comprar">
                <button type="submit" id="terminar-compra">Terminar Compra</button>
            </div>
            <section>
                <article>
                    <div class="box">BOX1</div>
                    <div class="box">BOX2</div>
                    <div class="box">BOX3</div>
                </article>
            </section>
        </main>






        <footer>
            <ul class="pestanias">
                <li><a href=""> Inicio</a></li>
                <li><a href="">Catalogo</a></li>
                <li><a href="">Fan Zone</a></li>
                <li><a href="">Login</a></li>
            </ul>
            <ul class="contacto">
                <li><a href="">Telefono</a></li>
                <li><a href="">Email</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
            <ul class="redes">
                <li><a href=""><i class="fab fa-facebook-square" id="facebook"></a></i></li>
                <li><a href=""><i class="fab fa-instagram" id="instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square" id="twitter"></i></a></li>
            </ul>
        </footer>
    </div>
</body>

</html>