<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/logo.png" alt="logo" id="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Catalogo</a>
                            <ul class="submenu">
                                <li><a href="">Merchandising</a></li>
                                <li><a href="">Accesorios</a></li>
                                <li class="videojuegos"><a href="">VideoJuegos <strong>></strong></a>
                                <ul>
                                    <li><a href="">Accion</a></li>
                                    <li><a href="">Aventura</a></li>
                                    <li><a href="">Conduccion</a></li>
                                    <li><a href="">Deportes</a></li>
                                </ul>
                                </li>
                            </ul>
                    </li>
                        <li><a href="">Fan Zone</a></li>
                        <li><a href="">Carrito</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buscador">
                <label for="buscador">
                <i class="fas fa-search" id="lupa"></i>
                <input type="search" name="buscador" id="buscador" placeholder="¿Que desea buscar?">
                <input type="submit" value="ENVIAR" id="enviar">
                </label>
            </div>
        </header>
    </div>
    <div class="contenedor">
        <div class="visual">
            <iframe src="https://www.youtube.com/embed/Z3xSGv3Hfio" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <img src="/images/product-images/final-fantasy4.jpg">
            <img src="/images/product-images/final-fantasy2.jpg">
            <img src="/images/product-images/final-fantasy3.jpg">
            <img src="/images/product-images/final-fantasy1.jpg">
        </div>
        <div class="info">
            <img class="logo2" src="/images/product-images/logo.png" alt="LOGO">
            <p><br>El mundo ha caído bajo el dominio de Shinra Electric Power Company 
            una siniestra corporación que controla la energía mako, la fuente de vida del planeta.</br> 
            <br>En la extensa ciudad de Midgar, una organización antishinra autodenominada Avalancha ha iniciado la resistencia. 
            Cloud Strife, un exmiembro de la unidad de elite SOLDADO de Shinra devenido mercenario</p>
        <div class="descripcion">
            <p><strong>FECHA LANZAMIENTO:</strong>05/04/2020</p>
            <p><strong>DESARROLLADOR:</strong>Square Enix</p>
            <p><strong>EDITOR:</strong>Square Enix</p>
            <p><strong>PRECIO:</strong>$4900</p>
            <img src="/images/product-images/ps4.png" alt="PS4">
            <img src="/images/product-images/rating.png" alt="ESRB">
        </div>
        <div class="btn-comprar">
            <button type="submit">AÑADIR AL CARRITO</button>
        </div>   
        </div>
        <section class="detalle">
            <h1>ACERCA DE ESTE JUEGO</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sit consequuntur doloribus 
            ab ipsum quae repudiandae fugit cumque veniam molestias, soluta, fuga corrupti deserunt. 
            Impedit totam optio veritatis error blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ullam repellat rerum! Ratione, adipisci voluptatum. Quo esse nihil dicta vero explicabo aliquam quia ab assumenda provident maiores. Dignissimos, magni. Magni.
            Dignissimos magnam itaque nam corrupti omnis nostrum earum, nobis delectus repudiandae autem voluptatem explicabo, veniam aut voluptates nesciunt iure laudantium error cumque consectetur labore! Voluptates soluta odio nulla ut illo.
            Atque accusantium inventore vitae magnam, officia itaque porro, enim dolores culpa quia maiores quisquam molestias. Dolores minima odit perferendis labore porro eum ut quis quidem eligendi aperiam nesciunt, dignissimos veniam.
            Fugiat alias aliquam dolore nulla laboriosam magnam ad eveniet animi adipisci aut? Possimus quisquam at dignissimos alias voluptas sint architecto ab culpa! Alias voluptatum iure ducimus explicabo sit officiis sapiente.
            Inventore similique nam beatae fuga sint fugit nesciunt eaque laboriosam eveniet sapiente voluptate cumque, error nisi adipisci alias, ducimus impedit dicta natus asperiores? Corporis dolores quibusdam nam est consequuntur error.
            Numquam magnam repellat error ut exercitationem adipisci quibusdam laboriosam, vero incidunt consectetur ipsa quisquam molestias nesciunt hic expedita ab accusantium harum iusto modi esse, quasi asperiores alias? Asperiores, cumque sint.
            Cupiditate beatae at libero natus asperiores officiis id atque, saepe error mollitia, aspernatur et quia porro dolore voluptate alias expedita placeat. Quidem suscipit ipsa placeat voluptatum quod cupiditate ipsum in.
            Sequi dicta nobis officia commodi doloremque, nam saepe quam at praesentium beatae fuga nihil ratione reiciendis corporis iusto id nesciunt, alias, perferendis minima esse sint. Rem et quia molestias aliquam?
            Veritatis quae quis rerum non, temporibus obcaecati quo! Natus dicta rem aspernatur reprehenderit? Ratione, nobis eos. Ut qui eaque et in ad repellat fugit, sapiente sed, officiis aliquid eveniet ipsum?
            Asperiores eligendi inventore officiis libero doloribus qui, nisi labore perspiciatis atque id veritatis hic magni minus laudantium nulla odio similique quibusdam, recusandae molestiae culpa esse iste, voluptate odit maxime. Impedit?</p>
        </section>
        <section class="resenias">
            <h1>RESEÑAS</h1>
            <h2>felicia@gmail.com</h2>
            <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat mollitia dolorem consequuntur, voluptates voluptatum veniam ipsam ut nesciunt culpa dolor nostrum, in explicabo asperiores ratione natus aut, accusamus velit porro!"</p>
            <h2>diego@yahoo</h2>
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis doloremque recusandae reiciendis, molestiae quas sed ipsum facere maiores perferendis sint necessitatibus iure voluptatem eligendi, accusamus tenetur in aliquid illo. Eaque."</p>
            <h2>contanza@gmail.com</h2>
            <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab maiores consequuntur sequi tempore reprehenderit autem. Distinctio aliquam asperiores praesentium natus mollitia quia, veritatis eum delectus debitis quas totam, aspernatur repudiandae!"</p>
            <h2>griselda@hotmail.com</h2>
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur dolorem accusamus, quo unde blanditiis quasi, voluptas sint eaque, quae cumque quod eius consequuntur corrupti reiciendis aperiam. Harum neque aut reiciendis."</p>
            <h2>sebastian@yahoo.com</h2>
            <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aut dicta, numquam fugiat ratione autem dolorum voluptas consequuntur officia sunt rerum odio maiores. Mollitia, explicabo illum labore necessitatibus quae aspernatur?"</p>
            <h2>fernando@hotmail.com</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste doloremque, minima quos repellendus quod aperiam debitis! Quo, alias fugiat dignissimos, doloribus, non expedita atque autem odio impedit saepe nostrum facilis."</p>
        </section>
        <div class="contenedorCards">
            <h1>PUEDEN INTERESARTE</h1>
            <div class="cards">
                <div id="01">
                    <h2>DRAGONBALL Z</h2>
                    <img src= "/images/product-images/dragon-ball-z-kakarot-20201311445449_1.jpg"style="width:200px">
                    <h3>$4000</h3>
                </div>
                <div id="02">
                    <h2>DAYS GONE</h2>
                    <img src= "/images/product-images/days-gone-201912413193876_1.jpg" style="width:200px">
                    <h3>$5000</h3>
                </div>
                <div id="03">
                    <h2>GHOST OF TSUSHIMA</h2>
                    <img src= "/images/product-images/ghost-of-tsushima-20203517513223_1.jpg" style="width:200px">
                    <h3>$4500</h3>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <nav class="menu-footer">
            <ul>
                <a href=""><li>INICIO</li></a>
                <a href=""><li>CATALOGO</li></a>
                <a href=""><li>FAN ZONE</li></a>
                <a href=""><li>LOGIN</li></a>
            </ul>
            <ul>
                <a href=""><li>TELEFONO</li></a>
                <a href=""><li>EMAIL</li></a>
                <a href=""><li>CONTACTO</li></a>
            </ul>
            <ul>
                <a href=""><li>INSTAGRAM</li></a>
                <a href=""><li>FACEBOOK</li></a>
                <a href=""><li>TWITTER</li></a>
            </ul>
        </nav>
            <img src="images/logo.png" alt="">
        </footer>  
</body>
</html>