<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper-web">
        <div class="wrapper-header">
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div class="search">
                <label for="search">
                    <input type="search" name="search" id="search" placeholder="¿QUE BUSCAS?">
                </label>
                <label for="send">
                    <button type="submit" id="submit"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
                </label>
            </div>
        </div>
        <nav class="wrapper-nav">
            <ul class="menu">
                <li> <i class="fas fa-home">            
                </i><a href=""> HOME</a></li>
                <li><a href="">CATALOGO</a></li>
                <li><a href="">FANZONE</a></li>
                <li><i class="fas fa-shopping-cart"></i><a href=""> CARRITO</a></li>
                <li><i class="fas fa-user-alt"></i><a href=""> LOGIN</a></li>
            </ul>
        </nav>
        <div class="contenedor-demo">
            <div class="demo">
                <h2>Final Fantasy XV</h2>
                <iframe src="https://www.youtube.com/embed/hPLUUt4ka8I" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>"
            </div>
            <div class="images-demo">
                <img src="/images/product-images/FINAL_FANTASY1.jpg" alt="">
                <img src="/images/product-images/FINAL_FANTASY2.jpg" alt="">
                <img src="/images/product-images/FINAL_FANTASY3.jpg" alt="">
            </div>
            <div class="logo-img">
                <img src="/images/product-images/logo.png" alt="">
            </div>
            <div class="descripcion-demo">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore explicabo laudantium, repellendus error incidunt.</p>
            </div>
            <div class="descripcion-juego">
                <p>FECHA LANZAMIENTO</p>
                <p>FECHA LANZAMIENTO</p>
                <p>FECHA LANZAMIENTO</p>
                <p>FECHA LANZAMIENTO</p>
                <button type="submit">AGREGAR AL CARRITO</button>
            </div>
            <div class="este-juego">
                <h3>ACERCA DE ESTE JUEGO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio magni dolorem ab at libero.</p>
            </div>
            <div class="calificaciones">
                <h3>CALIFICACIONES</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, ullam.</p>
            </div>
            <div class="requisitos">
                <h3>SISTEMA DE REQUISITOS</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="resenia">
                <h3>RESEÑAS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eius temporibus dicta atque, beatae omnis.</p>
            </div>
            <div class="interes">
                <h3>PUEDEN INTERESARTE</h3>
                <img src="/images/product-images/FINAL_FANTASY1.jpg" alt="">
                <img src="/images/product-images/FINAL_FANTASY2.jpg" alt="">
                <img src="/images/product-images/FINAL_FANTASY3.jpg" alt="">
            </div>
        </div>
            <div class="footer">
                <footer>
                    <h3>FOOTER</h3>
                </footer>
            </div>
            </div>
    
</body>
</html>