<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/scss/home.css">
<link rel="stylesheet" href="/stylesheets/lau.css">
<title>productos</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row d-flex justify-content-between">
            <div class="logo col-5 col-sm-4 col-md-3 col-lg-2 ">
                <img class="img-fluid" src="/images/logo.png" alt="logo">
            </div>
            <div class="search col-7  col-md-5 col-lg-6  align-self-center">
                <div class="input-group md-3">
                    <input type="text" class="form-control" placeholder="Buscar productos,marcas y mas!"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="lupa btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </header>
        <!-- MENU ESCRITORIO -->
        <nav class="row">
            <nav class="menu col-12">
                <ul>
                    <li><a href="">Home</a></li><span class="border-right"></span>
                    <li><a href="">Catalogo</a>
                        <ul class="sub-menu">
                            <li><a href="">Merchandising</a></li>
                            <li><a href="">Accesorios</a></li>
                            <li><a href="">Video Juegos</a></li>
                        </ul>
                    </li><span class="border-right"></span>
                    <li><a href="">FanZone</a></li><span class="border-right"></span>
                    <li><a href="">Carrito</a></li><span class="border-right"></span>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </nav>
        <!--  MENU MOBILE  -->
        <nav class="mobile row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Merchandising</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Video Juegos</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                </div>
              </nav>
        </nav>
        
        <section class="carrousel row">
            <article class="col-12">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="imagenes">
                    <img src="/images/product-images/final-fantasy1.jpg" alt="">
                    <img src="/images/product-images/final-fantasy1.jpg" alt="">
                    <img src="/images/product-images/final-fantasy1.jpg" alt="">
                </div>
            </article>
        </section>
        <section class="logo-detalle row">
            <div class="logo col-12">
                <img src="/images/product-images/logo.png" alt="">
            </div>
        </section>
        <section class="descripcion row">
            <div class="texto col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, omnis qui expedita eveniet asperiores in pariatur praesentium laborum eius fuga veniam sapiente! Sint, nobis facere. Eligendi obcaecati reprehenderit aliquid labore quis exercitationem officia molestias fugit illum aut. Optio ducimus quidem accusantium exercitationem fugit, facilis dolorem quasi ad ipsa ut perspiciatis?</p>
            </div>
        </section>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>