<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/scss/prueba.css">
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/logo.png" alt="logo" id="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Catalogo</a>
                            <ul class="submenu">
                                <li><a href="">Mercandising</a></li>
                                <li><a href="">Accesorios</a></li>
                                <li class="videojuegos"><a href="">VideoJuegos <strong>></strong></a>
                                <ul>
                                    <li><a href="">Accion</a></li>
                                    <li><a href="">Aventura</a></li>
                                    <li><a href="">Conduccion</a></li>
                                    <li><a href="">Deportes</a></li>
                                </ul>
                                </li>
                            </ul>
                    </li>
                        <li><a href="">Fan Zone</a></li>
                        <li><a href="">Carrito</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="buscador">
                <label for="buscador">
                <i class="fas fa-search" id="lupa"></i>
                <input type="search" name="buscador" id="buscador" placeholder="¿Que desea buscar?">
                <input type="submit" value="ENVIAR" id="enviar">
                </label>
            </div>
        </header>
        <main>
            <div class="slide">
                <ul>
                    <li><img src="/images/slide/1.jpg" alt=""> </li>
                    <li><img src="/images/slide/2.jpg" alt=""> </li>
                    <li><img src="/images/slide/3.jpg" alt=""> </li>
                    <li><img src="/images/slide/4.jpg" alt=""> </li>
                </ul>
            </div>
            <section>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                    </article>
            </section>
            <section>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="cartas">
                        <img src="images/prueba/dbz.jpg" alt="dbz-game">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, sapiente?</p>
                        <h2><strong>$20.00</strong></h2>
                        <button type="submit">COMPRAR</button>
                    </div>
                    </article>
            </section>
            
        </main>
                <footer>
                    <ul class="pestanias">
                        <li><a href="">  Inicio</a></li>
                        <li><a href="">Catalogo</a></li>
                        <li><a href="">Fan Zone</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                    <ul class="contacto">
                        <li><a href="">Telefono</a></li>
                        <li><a href="">Email</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                    <ul class="redes">
                        <li><a href=""><i class="fab fa-facebook-square" id="facebook"></a></i></li>
                        <li><a href=""><i class="fab fa-instagram" id="instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter-square" id="twitter"></i></a></li>
                    </ul>
                </footer>
                <div class="arriba">
                    <a href="#logo"><img src="/images/prueba/wts.png" alt="WTS"></a>
                </div>
    </div>

</body>
</html>