<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <div class="container-fluid">
        <%- include('./partials/header') %>
        <%- include('./partials/navbar') %>

        <div id="login-container" class="container-fluid">
            <form id="formulario">
                <form class="row">
                    
                    <div class="title col-12">
                        <h2>REGISTRO DE USUARIO</h3>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-6 col-md-6">
                        <label for="inputuser">Nombre usuario</label>
                        <input type="user" class="form-control" id="inputEmail4" placeholder="Usuario">
                      </div>
                      <div class="form-group col-5 col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-6 col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                      <div class="form-group col-6 col-md-6">
                        <label for="inputPassword4">Rep Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Direccion</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Avenida Siempreviva 742">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-6 col-md-6">
                        <label for="inputCity">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-4 col-md-4">
                        <label for="inputState">Barrio</label>
                        <select id="inputState" class="form-control">
                          <option selected>Elegir...</option>
                          <option>Almagro</option>
                          <option>Abasto</option>
                          <option>Balvanera</option>
                        </select>
                      </div>
                      <div class="form-group col-4 col-md-2">
                        <label for="inputZip">Codigo Postal</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group col-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Acepto terminos
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarme</button>
                  </form>
            </form>

        </div>

       
            <%- include('./partials/footer') %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>