.container{
    display: grid;
    grid-template-columns:40vh repeat(3,1fr);
    grid-template-rows: auto auto 1fr 200px 80px 80px 80px auto;
    font-family: 'Roboto', sans-serif;
}

header{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff5733;
    border-radius: 14px;
}
header h1{
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px #000000;
    color: #fff;
    padding: 10px;
}
.logo-img{
    width: 40vh;
    animation-duration: 3s;
    animation-name: logo-move;
}
.buscador{
    font-family: 'Roboto', sans-serif;
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ff5733;
    border-radius: 5px;
    margin-top: 1%;
}
.buscador h3{
    color: #fff;
}
.buscador input{
    width: 100vh;
    height: 5vh;
    border-radius: 4px;
    border: none;
    text-align: center;
}
.buscador #lupa{
    color: #fff;
}
.buscador #sign-out{
    color: #fff;
    transition: ease-in-out 0.3s;
}
.buscador #sign-out:hover{
    color: #000000;
}
.buscador #notificacion{
    color: #fff;
    transition: ease-in-out 0.3s;
}
.buscador #notificacion:hover{
    color: #000000;
}
.nav-lateral{
    margin-top: 2%;
    grid-column: 1/auto;
    grid-row:3/8;
    background: #ff5733;
    box-shadow: 1px 1px 4px  #000000;
    border-radius: 4px;
}
.nav-lateral a{
    color:#fff;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.nav-lateral a:hover{
    color: #000000;
    text-decoration: none;
}
.nav-lateral ul{
    padding-left: 6vh;
}
.nav-lateral li{
    list-style: none;
    margin-top: 10px;
}
.detalle-admin{
    grid-column: 3/4;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}
.detalle-admin img{
    width: 20vh;
}
.detalle-admin img:hover{
    transform: rotate3d(1, 2.0, 3.0, 10deg);
}

.informacion-actualizada{
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: stretch;
    text-align: center;
}
.detalle-pedido{
    grid-column: 2/5;
    grid-row: auto;
    border-top: 1px solid #000000;
    height: 200px;
}
.detalle-pedido a:hover{
    transform: rotateX(30deg);
}
.detalle-pedido .usuario{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.detalle-pedido .usuario img{
    width: 5vh;
}
.detalle-pedido img{
    width: 2vh;
}
.footer{
    background-color: #ff5733;
    border-radius: 15px;
    grid-column: 1/5;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer .nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
}
.footer h1{
    color: silver;
    text-shadow: 2px 3px black;
}
.footer .contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
}
.footer .redes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right:70px;
    margin-left: 70px;
    text-align: center;
}

.footer img{
    width: 20vh;
}
.footer .menu-footer{
    display: flex;
}
.footer .menu-footer ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.footer .menu-footer a{
    color: #fff;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.footer .menu-footer a:hover{
    color: #000000
}
.copy{
    margin-left: 100px;
}

/*ANIMACIONES*/
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes logo-move {
    0%,
    100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes logo-move {
    0%,
    100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    }
    15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
    }
    30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
    }
    45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
    }
    75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
    }
}