
.fanZone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 20px;
    padding-left: 20px;
}
.fanZone h1{
    font-family: 'Timmana', sans-serif;
    text-shadow: 2px 3px #747A6E;
    font-size: 50px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
.fanZone .usuario{
    grid-column: 1/3;
    grid-row:2/3;
    border: 4px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #5B898E;
}
.fanZone .usuario img{
    width: 100px;
    border: 2px black solid;
}
.fanZone .usuario ul{
    font-size: 30px;
    font-family: 'Timmana', sans-serif;
    list-style-type: square;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fanZone .usuario .btn-editar button{
    width: 200px;
    background-color: #A70000;
    color:#D1D1D1D1;
    font-family:'Timmana', sans-serif;
    font-size:20px;
    text-shadow: 1px 2px black;
    margin-top: 35px;
}
.fanZone .reviews{
    grid-column: 1/2;
    grid-row: 3/4;
    border: 4px black solid;
    border-radius: 2px;
}
.fanZone .reviews

.fanZone .recientes{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 2px black solid;
}