.container-fluid {
  position: relative;
}

.container-fluid header {
  background: #d90429;
}

.container-fluid header .input-group {
  background: #cacaca;
}

.container-fluid header .lupa {
  color: #fff;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.container-fluid header .lupa:hover {
  background: #FFFFFF;
  color: #000000;
}

.container-fluid .menu {
  background: #cacaca;
}

.container-fluid .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Timmana", sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.container-fluid .menu ul li {
  list-style: none;
  padding: 20px;
  position: relative;
}

.container-fluid .menu ul li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.container-fluid .menu ul li a:hover {
  color: #EF233C;
}

.container-fluid .menu ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #ef233c;
  border-radius: 4px;
  -webkit-box-shadow: -1px 1px 3px #000000;
          box-shadow: -1px 1px 3px #000000;
  font-size: 15px;
  z-index: 1;
}

.container-fluid .menu ul li:hover .sub-menu a {
  color: #fff;
}

.container-fluid .menu ul li:hover .sub-menu a:hover {
  color: #b2ef23;
}

.container-fluid .menu ul li ul {
  display: none;
}

.container-fluid .carousel {
  padding: 0;
  margin: 0;
}

.container-fluid .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid .mobile .btn {
  color: #EF233C;
  border: 1px solid #EF233C;
}

.container-fluid .mobile .btn:hover {
  background: #EF233C;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px #000000;
          box-shadow: 1px 1px 2px #000000;
}

.container-fluid .titulo-product {
  margin: 30px 0px;
  font-family: "Baloo Paaji 2", cursive;
}

.container-fluid .titulo-product .estilo-fuente-1 {
  font-size: 40px;
  font-weight: bold;
  color: #c9ff07;
}

.container-fluid .titulo-product .estilo-fuente-2 {
  font-size: 20px;
  color: #fff;
  background: transparent;
}

.container-fluid section {
  background: #ef233c;
  font-family: "Baloo Paaji 2", cursive;
}

.container-fluid section section {
  margin-bottom: 20px;
}

.container-fluid section .btn {
  background: #ef233c;
  border: 1px solid #000000;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.container-fluid section .btn:hover {
  background: #cacaca;
  color: #000000;
}

.container-fluid section .card:hover {
  background: #3b3b3b;
  color: #fff;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container-fluid section .mas-vendidos {
  background: blue;
}

.container-fluid section .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}

.container-fluid #top-venta {
  background: url(/images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 544px) {
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .navbar-expand-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=home.css.map */