body {
    font-family:  "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
    *{
    margin: 0;
    padding: 0;
  }
.contenedorDemo{
    display:grid;
    grid-template-columns: 600px ; 
    grid-template-rows: 400px ;
}
.contenedorDemo > div{
    display: block;
    padding: 20px;
}