section .container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: row;
    align-items: center;
    margin:0;
    padding: 0;
}
section .container1{
    background:lightgrey;
    width: 60%;
    display: flex;
    flex-wrap:wrap;
}
section iframe{
    border: 1px;
    width: 55%;
    height: 600px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    align-self: stretch;
}
section img{
    width: 15%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    flex-grow: 1;
    align-self: stretch;   
}
section .container2{
    background: lightgrey;
    width: 40%;
    display: flex;
}
section .container3{
    background: whitesmoke;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.estejuego{
    width: 50%;
}
.calificaciones{
    width:50%
}
.resenia{
    width: 100%;
}